<footer>
    <div class="box-container">
        <h1>DÊ O START</h1>
        <div>
            <p>Pronto para embarcar numa jornada de inovação?</p>
            <p>Entre em contato e vamos dar vida aos seus projetos!</p>
        </div>
        <a href="https://wa.me/5571981295803?text=Ol%C3%A1,%20%20tenho%20interesse%20em%20iniciar%20um%20projeto!" target="_blank"><button class="btn-start">START</button></a>
    </div>
    <div id="footer-contact">
       
        <div>
            <p> &copy; Copyright: <strong>Rafael <span>Nunes</span></strong></p>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <a href="https://www.linkedin.com/in/rafael-nunes-a7854a250/" target="_blank"><img src="./assets/img/linkedin2.png" class="footer-icons-redes" alt="linkedin"></a>
            <a href="https://github.com/DKFAEL" target="_blank"><img src="/assets/img/github.png" class="footer-icons-redes" alt="github"></a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=SxfkdnRZRRPrZBjpRDtxxTQffHcHthHPwSXNsJlKvJrZPwQTKRHfnvfWpNkZRxzPrksJsfRPRzsLKqwfrNScrhHtGBhzwqWxbdnrxdRPzdqTmFmtjWg" target="_blank"><img src="/assets/img/gmail.png" class="footer-icons-redes" alt="gmail"></a>
        </div>
    </div>
</footer>
