<app-header></app-header>

<body>
    <section class="caixa-principal" id="start">
        <div class="intro">
            <h1>Rafael <span>Nunes</span> </h1>
            <h3>Desenvolvedor Web Fullstack </h3>
            <p><span>Construindo o futuro da web, um código de cada vez : </span> apaixonado por transformar visões em
                realidade digital. </p>

            <div>
                <a class="btn btn-primary linkedin-btn " href="https://www.linkedin.com/in/rafael-nunes-a7854a250/"
                    target="_blank">LinkedIn</a>
                <a class="btn btn-dark github-btn" href="https://github.com/DKFAEL" target="_blank">GitHub</a>
            </div>
        </div>
    </section>
    <section class="about-me" id="about-me">
        <div class="about-me-better">
            <h1 class=" mb-5">Sobre Mim</h1>
            <h2>Ola, me chamo Rafael. Satisfação em conhecê-lo!</h2>
            <p>
                Sou um Desenvolvedor Web Full Stack com ampla expertise na criação de sistemas web inovadores. Minha
                jornada no desenvolvimento web é respaldada por uma sólida compreensão das metodologias ágeis,
                destacando-me pela habilidade comprovada em colaboração eficaz em equipe e gestão de projetos. Estou
                entusiasmado em contribuir com meu conhecimento e paixão pela tecnologia para alcançar soluções
                inovadoras e eficientes.
            </p>
        </div>
    </section>

    <section>
        <app-habilidade-cards></app-habilidade-cards>
    </section>
    <section>
        <app-main-skill></app-main-skill>
    </section>

    <section id="project">
        <app-projetos></app-projetos>
    </section>

</body>