<nav class="navbar navbar-expand-lg" >
    <div class="flex">
      <h2 class="portfolio">Portfo<span>lio</span> </h2>
      
      <div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" (click)="scrollTo('start')" id="color">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('about-me')">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('project-title')">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('skills')">Habilidades</a>
          </li>
        </ul>
        <a href="" target="_blank"><button class="btn-primary2 btn-contato">Contato</button></a>
      </div>
    </div>
    </div>

<button class="navbar-toggler" style="color:rgb(251, 143, 3);;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon" style="color:rgb(251, 143, 3);;"></span>
</button> 
</nav>