<body>
    <div class="conteiner">
            <mat-card class="example-card cards">
                <div class="habilidade">
                    <h2>Frontend</h2>
                    <p>Transformando conceitos em interfaces intuitivas, onde cada pixel conta.</p>
                    <h4>Linguagens e ferramentas</h4>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>Angular</li>
                            <li>Bootstrap</li>
                        </ul>
                </div>
            </mat-card>
            <mat-card class="example-card cards">
                <div class="habilidade">
                    <h2>Backend</h2>
                    <p>Eu gosto de desenvolver aplicações do zero, banco de dados e API.</p>
                    <h4>Linguagens e ferramentas</h4>
                        <ul>
                            <li>JAVA</li>
                            <li>SQL</li>
                            <li>Spring</li>
                            <li>Springboot</li>
                            <li>MySQL</li>
                            <li>Postman</li>
                            <li>Firebase</li>
                        </ul>
                </div>
            </mat-card>
            <mat-card class="example-card cards">
                <div class="habilidade">
                    <h2>Outros</h2>
                    <p>Busco aprimorar tanto minhas habilidades técnicas quanto interpessoais.</p>
                    <h4>Outros tópicos</h4>
                        <ul>
            
                            <li>Liderança</li>
                            <li>Planejamento</li>
                            <li>Gerenciamento</li>
                            <li>Comunicação</li>
                        </ul>
                </div>
            </mat-card>
    </div>
    </body>